<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" [ngClass]="'bg-primary'">
      <div class="card-body d-flex align-items-center justify-content-between" >
        <a class="text-white stretched-link" routerLink="/pages/clients">Clients ({{clientsNumber}})</a>
        <div class="text-white"><mat-icon>list</mat-icon></div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" [ngClass]="'bg-info'">
      <div class="card-body">
          <a class="text-white stretched-link">Registered Cars ({{registeredCars}})</a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" [ngClass]="'bg-primary'">
      <div class="card-body">
        <a class="text-white stretched-link">Total inspections ({{inspections}})</a>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card text-white mb-4" [ngClass]="'bg-primary'">
      <div class="card-body">
        <a class="text-white stretched-link">Total costs  ~ {{totalCosts | currency:'EUR'}}</a>
      </div>
    </div>
  </div>
</div>
