<div class="row">
  <h2 class="text-center text-alignment">Number of vehicles {{ vehicles?.length }}</h2>
  <div class="example-button-container add-button-container">
    <button mat-mini-fab color="primary" aria-label="Add vehicle" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="container" *ngIf="vehicles && vehicles.length > 0">
  <div class="row">
    <ng-template ngFor [ngForOf]="vehicles" let-vehicle>
        <div class="col-md-4">
          <mat-card>
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ vehicle.model }}</mat-card-title>
              <mat-card-subtitle> ID: {{ vehicle.id }} </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="vehicle.image" alt="{{vehicle.model}}" width="150px" height="150px">
            <mat-card-content>
              <p>Year: {{ vehicle.year }}</p>
              <p>Km: {{ vehicle.km }}</p>

            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary" (click)="openDialog(vehicle);">EDIT</button>
              <button mat-button color="warn" (click)="deleteVehicleEvent.emit(vehicle.id)">DELETE</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-template>
  </div>
</div>
